{% extends 'supermarket/base.html' %}
	{% block content %}
<title>Rada Ecommerce | products</title>
    <h3  align="center">To order call: 0746632497</h3>
<a href="{% url 'supermarket/products' %}"><img src="/static/supermarket/logo.png"></a>
<form class="example" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search product and brand" >
</form>

<div class="container">

	<h1 align="center">Products Available In the Store</h1>

<div class="row">

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/bluegloves.jpg">
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

     <h5 class="card-title">Synthetic Blue-gloves</h5>

 <p class="card-text text-left">Blue gloves to protect yourself from infections </p>

<a href="#" class="btn btn-warning">shop</a>

</div>

</div>

</div>

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/clothwear.png" >

<button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

	<h5 class="card-title">Cloth-Wear</h5>

<p class="card-text text-left">July is approaching grab yourself a jacket ...</p>

<a href="#" class="btn btn-warning">shop</a>

      </div>

    </div>

  </div>

  <div class="col-sm-4">

    <div class="card">

    <img src="/static/supermarket/covid masks.jpg"/>
           <button class="btn btn-outline-danger">Ksh 200</button>

 <div class="card-body text-center">

 <h5 class="card-title text-center">Covid-Masks</h5>

 <p class="card-text text-left">Reusable and washable masks.</p>

<a href="#" class="btn btn-warning text-right">Shop</a>

      </div>

    </div>

  </div>

</div>

</div>
<div class="container">

<div class="row">

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/cyberpowergamerpc.png">
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

     <h5 class="card-title">Gamer-Pc</h5>

 <p class="card-text text-left">Customised with Graphics and Fast processor speed </p>

<a href="#" class="btn btn-warning">Shop</a>

</div>

</div>

</div>

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/hdwebcams.jpg" >
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

	<h5 class="card-title">Hd Web cams</h5>

<p class="card-text text-left">Capable of seeing in 360 degree angle</p>

<a href="#" class="btn btn-warning">Shop</a>

      </div>

    </div>

  </div>

  <div class="col-sm-4">

    <div class="card">

    <img src="/static/supermarket/JBLheadphones.jpg"/>
        <button class="btn btn-outline-danger">Ksh 200</button>

 <div class="card-body text-center">

 <h5 class="card-title text-center">JBL Headphones</h5>

 <p class="card-text text-left">drown Yourself in music ...doctor reccomended</p>

<a href="#" class="btn btn-warning text-right">Shop</a>

      </div>

    </div>

  </div>

</div>

</div>
<div class="container">

<div class="row">

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/backbag.jpg">
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

     <h5 class="card-title">Back-Bags</h5>

 <p class="card-text text-left">Need a Back bag ...???</p>

<a href="#" class="btn btn-warning">Shop</a>

</div>

</div>

</div>

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/pendanttube.jpg" >
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

	<h5 class="card-title">Pendant Tube</h5>

<p class="card-text text-left">Makes you sing in the shower ...</p>

<a href="#" class="btn btn-warning">Shop</a>

      </div>

    </div>

  </div>

  <div class="col-sm-4">

    <div class="card">

    <img src="/static/supermarket/4.jpg"/>
        <button class="btn btn-outline-danger">Ksh 200</button>

 <div class="card-body text-center">

 <h5 class="card-title text-center">Flower Vase</h5>

 <p class="card-text text-left">Roses are Red,, and so is love...</p>

<a href="#" class="btn btn-warning text-right">Shop</a>

      </div>

    </div>

  </div>

</div>

</div>
<div class="container">

<div class="row">

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/guitar.jpg">
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

     <h5 class="card-title">Electric Guitar</h5>

 <p class="card-text text-left">Well customised guitar... </p>

<a href="#" class="btn btn-warning">Shop</a>

</div>

</div>

</div>

<div class="col-sm-4">

<div class="card">

    <img src ="/static/supermarket/brown-corliving-sofas-loveseats-lzy-392-s-64_400.jpg" >
    <button class="btn btn-outline-danger">Ksh 200</button>

<div class="card-body text-center">

	<h5 class="card-title">Brown Sofas</h5>

<p class="card-text text-left">they make you feel at home..</p>

<a href="#" class="btn btn-warning">Shop</a>

      </div>

    </div>

  </div>

  <div class="col-sm-4">

    <div class="card">

    <img src="/static/supermarket/handsanitizer.jpg"/>
        <button class="btn btn-outline-danger">Ksh 200</button>

 <div class="card-body text-center">

 <h5 class="card-title text-center">Hand-Sanitizer</h5>

 <p class="card-text text-left">Disinfect ,disinfect ...</p>

<a href="#" class="btn btn-warning text-right">Shop</a>

      </div>

    </div>

  </div>

</div>

</div>
<section class="newsletter-area">
                    <div class="newsletter-text mb-100">

                        <h2>Subscribe for a <span>25% Discount</span></h2>
                        <p>Thank you for shopping with us...we value and appreciate you even in this hard times...#staysafe#stayathome</p>
                    </div>
                    <div class="newsletter-form mb-100">
                        <!--form action="#" method="post"-->
                            <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                            <input type="submit" value="Subscribe">
                    </div>


    </section>
<div class="row text-center" >
      <div class="col-md-3">
        <a href="#"><img src="https://image.flaticon.com/icons/svg/60/60580.svg" class="contactIcon btn btn-outline-light "></a>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="https://imageog.flaticon.com/icons/png/512/69/69407.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" class="contactIcon btn btn-outline-light "></a>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/78-instagram-512.png" class="contactIcon btn btn-outline-light "></a>
      </div>
      <div class="col-md-3">
        <a href="#"><img src="https://icons-for-free.com/iconfiles/png/512/book+circle+contact+contacts+email+gmail+icon-1320073243450677731.png" class="contactIcon btn btn-outline-light "></a>
      </div>
    </div>

{% endblock content %}